<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
	<targets>
		<target xsi:type="ColoredConsole"
				name="ColoredConsole-Trace"
				layout="${longdate} ${uppercase:${level}} ${logger} ${message}"
				useDefaultRowHighlightingRules="true" />

		<target xsi:type="File"
				name="FlatFile-Trace"
				layout="${longdate} ${uppercase:${level}} ${logger} ${message}"
				fileName="${environment:TRUSTSYS_ROOT}/Logs/Crawler/Crawler-${shortdate}.log"
				keepFileOpen="false"
				encoding="UTF-8" />

		<target xsi:type="File"
				name="FlatFile-Error"
				layout="${longdate} ${uppercase:${level}} ${logger} ${exception:format=tostring}"
				fileName="${environment:TRUSTSYS_ROOT}/Logs/Crawler/Crawler-${shortdate}-Errors.log"
				keepFileOpen="false"
				encoding="UTF-8" />

	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="ColoredConsole-Trace" />
		<logger name="*" minlevel="Info" writeTo="FlatFile-Trace" />
		<logger name="*" minlevel="Error" writeTo="FlatFile-Error" />
	</rules>
</nlog>