<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="Castle.Core-NLog" version="3.3.3" targetFramework="net452" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net452" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net452" />
  <package id="Castle.Windsor-NLog" version="3.3.0" targetFramework="net452" />
  <package id="Dapper" version="1.50.2" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.11.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net452" />
  <package id="Nancy" version="1.4.3" targetFramework="net452" />
  <package id="Nancy.Authentication.Stateless" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Bootstrappers.Windsor" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Owin" version="1.4.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net452" />
  <package id="NLog" version="4.3.0" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Service.Common" version="1.0.52" targetFramework="net452" />
  <package id="Service.Registry" version="1.0.52" targetFramework="net452" />
  <package id="SlowCheetah" version="2.5.15" targetFramework="net452" />
  <package id="SocialNetwork.Contracts" version="1.0.148" targetFramework="net452" />
  <package id="Topshelf" version="3.2.0" targetFramework="net452" />
  <package id="Topshelf.NLog" version="3.2.0" targetFramework="net452" />
</packages>