<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<serviceRegistry xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <endpoint xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xdt:Transform="Replace" address="http://172.16.252.6:7777/Services/ServiceRegistry/"/>
</serviceRegistry>