packages/
bin/
.vs/config/applicationhost.config
Crawler/Crawler.dbmdl
Crawler.*/obj/
Crawler.*.*/obj/
Crawler.*.*.*/obj/
Trustsys.Crawler.*.*/obj/
Crawler/obj/
/debug
Debug
Crawler/Crawler.jfm
.artifacts/
.buildAppOutput/
.buildTools/
.deployedPackages/
.fake/
.nugetWorkingDir/
.vs/
