<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="host" type="Collectors.Hosts.HostBase.Settings.HostSettingsSection, Collectors.Hosts.HostBase" />
		<section name="CefInstanceSettings" type="Service.Common.Configurations.SettingsConfigurationSection, Service.Common" />
		<section name="AccountManagementSettings" type="Service.Common.Configurations.SettingsConfigurationSection, Service.Common" />
		<section name="services" type="Services.Core.Settings.SettingsConfigurationSection, Services.Core" />
	</configSections>
		<startup> 
				<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
		</startup>

	<host name="SocialNetwork.HtmlGateway.UserActions.Host" startTimeout="00:00:30" stopTimeout="00:00:30" description="" displayName="SocialNetwork.HtmlGateway.UserActions.Host" runAs="RunAsLocalSystem" />

	<CefInstanceSettings javascript="true" javascriptOpenWindows="true" javascriptDomPaste="true" javascriptCloseWindows="true" webGl="false" imageLoading="false" browserWidth="1366" browserHeight="3072" disableGpu="1" maxInstanceLiveTime="600" />
	<AccountManagementSettings averrageRequestInterval="10" numberOfBaskets="1" managementApiAddress="http://172.16.252.6:8081" />
	<services></services>

	<system.serviceModel>
		<diagnostics>
			<messageLogging logMessagesAtServiceLevel="true" />
		</diagnostics>
		<bindings>
			<netTcpBinding>
				<binding name="CommonNetBinding" closeTimeout="00:01:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
					<security mode="None">
						<message clientCredentialType="None" />
						<transport protectionLevel="None" clientCredentialType="None" />
					</security>
				</binding>
				<binding name="mexBinding" portSharingEnabled="true">
					<security mode="None" />
				</binding>
			</netTcpBinding>
			<basicHttpBinding>
				<binding name="CommonHttpBinding" closeTimeout="00:01:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transferMode="Streamed" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"></binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!--<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>-->
					<serviceMetadata />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="SocialNetwork.HtmlGateway.UserActions.Impl.Facebook.AuthService">
				<endpoint address="net.tcp://localhost:2126/Services/AuthService/" binding="netTcpBinding" bindingConfiguration="CommonNetBinding" contract="SocialNetwork.Html.Contracts.IAuthService" />
				<endpoint address="net.tcp://localhost:2126/Services/AuthService/mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<endpoint address="http://localhost:2526/Services/AuthService/" binding="basicHttpBinding" bindingConfiguration="CommonHttpBinding" contract="SocialNetwork.Html.Contracts.IAuthService" />
				<endpoint address="http://localhost:2526/Services/AuthService/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service name="SocialNetwork.HtmlGateway.UserActions.Impl.Ok.OkHtmlActionService">
				<endpoint address="net.tcp://localhost:2126/Services/OkHtmlActionService/" binding="netTcpBinding" bindingConfiguration="CommonNetBinding" contract="SocialNetwork.Html.Contracts.IOkHtmlActionService" />
				<endpoint address="net.tcp://localhost:2126/Services/OkHtmlActionService/mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<endpoint address="http://localhost:2526/Services/OkHtmlActionService/" binding="basicHttpBinding" bindingConfiguration="CommonHttpBinding" contract="SocialNetwork.Html.Contracts.IOkHtmlActionService" />
				<endpoint address="http://localhost:2526/Services/OkHtmlActionService/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Topshelf.NLog" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>