<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target xsi:type="ColoredConsole"
				name="ColoredConsole"
				layout="${time} ${uppercase:${level}} ${message} ${exception:format=tostring}"
				useDefaultRowHighlightingRules="true" />


		<target name="FlatFile" xsi:type="File"
				layout="${longdate} ${message} ${exception:format=tostring}"
				fileName="D://Logs/${environment:SERVICE_NAME}/${shortdate}-${level}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				maxArchiveFiles="7"
				openFileCacheTimeout="30"
				encoding="Windows-1251" />

	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="ColoredConsole" />
		<logger name="*" minlevel="Info" writeTo="FlatFile" />
		<logger name="*" minlevel="Error" writeTo="FlatFile"/>
	</rules>
</nlog>